<!DOCTYPE HTML>
<html>
 <head>
  <title> 失败页面</title>
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="../assets/css/dpl-min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/css/page-min.css" rel="stylesheet" type="text/css" />  

 </head>
 <body>
  
  <div class="container">
    <div class="row">
      <div class="span60">
        <div class="tips tips-large tips-warning" align="center">
          <span class="x-icon x-icon-error">!</span>
          <div class="tips-content">
            <h2>通知</h2>
            <p class="auxiliary-text" align="left">
              xx月xx日系统将进行维护，对此将关闭客户功能，对此为用户造成不便，敬请谅解！
            </p>
            <p>
              <a class="page-action" data-type="setTitle" title="编辑用户个性化功能权限" href="#">相关资讯与反馈</a>
            </p>
          </div>
        </div>
      </div> 
    </div>
    <br>
    <br>
     <div class="row">
      <div class="span60">
        <div class="tips tips-large tips-warning" align="center">
          <span class="x-icon x-icon-error">!</span>
          <div class="tips-content">
            <h2>通知</h2>
            <p class="auxiliary-text" align="left">
              xx月xx日系统将进行维护，对此将关闭客户功能，对此为用户造成不便，敬请谅解！
            </p>
            <p>
              <a class="page-action" data-type="setTitle" title="编辑用户个性化功能权限" href="#">相关资讯与反馈</a>
            </p>
          </div>
        </div>
      </div> 
    </div>
    <br>
    <br>
    <hr>
    <br>
    <br>
    <div class="row">
      <div class="span60">
        <div class="tips tips-large tips-success" align="center">
          <span class="x-icon x-icon-success">!</span>
          <div class="tips-content">
            <h2>通知</h2>
            <p class="auxiliary-text" align="left">
              xx月xx日系统将进行维护，对此将关闭客户功能，对此为用户造成不便，敬请谅解！
            </p>
            <p>
              <a class="page-action" data-type="setTitle" title="编辑用户个性化功能权限" href="#">相关资讯与反馈</a>
            </p>
          </div>
        </div>
      </div> 
    </div>
  </div>
  <script type="text/javascript" src="../assets/js/jquery-1.8.1.min.js"></script>
  <script type="text/javascript" src="../assets/js/bui-min.js"></script>

  <script type="text/javascript" src="../assets/js/config-min.js"></script>
  <script type="text/javascript">
    BUI.use('common/page');
  </script>

<body>
</html>  